<div class="dialog">
  <div mat-dialog-title class="dialog-title">
    <h3>{{title}}</h3>
    <span><mat-icon aria-hidden="false" aria-label="error icon" color="primary">{{icon}}</mat-icon></span>
  </div>
  <div mat-dialog-content class="dialog-content">
    <p>{{message}}</p>
  </div>
  <div mat-dialog-actions class="dialog-actions">
    <button mat-raised-button color="primary" cdkFocusInitial (click)="confirm()">{{confirmButtonText}}</button>
    <button mat-raised-button color="primary" cdkFocusInitial (click)="decline()">{{declineButtonText}}</button>
  </div>
</div>  
