<mat-accordion multi>
  <mat-expansion-panel expanded="{{ repositoryPanelExpanded }}">
    <mat-expansion-panel-header>
      <mat-panel-title> Repositories </mat-panel-title>
      <mat-panel-description>
        <a href="{{ repository.remoteUrl }}">{{ repository.remoteUrl }}</a>
    </mat-panel-description>
    </mat-expansion-panel-header>

    <form [formGroup]="filterForm" novalidate autocomplete="off">
      <mat-form-field>
        <app-sources-list (sourceSelected)="onSourceSelected($event)" formControlName="source" />
      </mat-form-field>
    </form>

    <app-repositories-list
      [sourceId]="this.source.id"
      (repositorySelected)="onRepositorySelected($event)"
    />
  </mat-expansion-panel>
</mat-accordion>
