.logo {
    flex-grow: 1;
    align-self: center;
}

.logo img {
    display: inline-block;
    vertical-align: middle;
    height: 50px;
}

.title {
    flex: 1 1 auto;
    align-self: center;
}

.buttons {
    flex-grow: 1;
    display: flex;
    flex-flow: row-reverse;
    align-self: center;
}