<div *ngIf="dependency$ | async as dependency">
    <p-panel header="{{ dependency.name }} ({{ dependency.version }})">

        <div class="flex align-items-start gap-1" >
            <p-checkbox [(ngModel)]="specificVersionOnly" [binary]="true" label="Version {{ dependency.version }} only"></p-checkbox>
        </div>

        <p-divider type="solid">
            <b>Contained In</b>
            </p-divider>
        
            <p-tree [value]="repositoryTreeNodes" class="w-full md:w-30rem" selectionMode="single" [(selection)]="selectedTreeNode"></p-tree>
    
        <p-divider type="solid">
        <b>Details</b>
        </p-divider>
    
        <p class="m-0">
        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui
        officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
        </p>
    
    </p-panel>
</div>