<div *ngIf="dependencyInstance$ | async as dependencyInstance">
    <p-panel header="{{ dependencyInstance.name }} ({{ dependencyInstance.version }})">

        <div class="flex align-items-start gap-1" >
            <p-checkbox [(ngModel)]="specificVersionOnly" [binary]="true" 
                label="Version {{ dependencyInstance.version }} only"
                (ngModelChange)="specificVersionOnlyChanged($event)" />
        </div>

        <p-divider type="solid">
            <b>Contained In</b>
            </p-divider>
        
            <p-tree [value]="treeNodes" [filter]="true" filterPlaceholder="Filter" class="w-full md:w-30rem" 
                selectionMode="single" [(selection)]="selectedTreeNode" (selectionChange)="treeNodeSelectionChanged($event)" />
    
        <p-divider type="solid">
        <b>{{getSelectedTreeNodeDetailsLabel()}}</b>
        </p-divider>
    
        <div *ngIf="selectedTreeNodeIsRepository()">
            Repository Details
        </div>
        <div *ngIf="selectedTreeNodeIsProject()">
            <div class="flex flex-column gap-2">
                <label for="name">Name</label>
                <input readonly="true" pInputText id="name" [(ngModel)]="projectVm!.name" />
            </div>

            <div class="flex justify-content-left mt-2">
                <div class="flex flex-column gap-2">
                    <label for="type">Type</label>
                    <input readonly="true" pInputText id="type" [(ngModel)]="projectVm!.type" />
                </div>
    
                <div class="flex flex-column gap-2 ml-2">
                    <label for="version">Version</label>
                    <input readonly="true" pInputText id="version" [(ngModel)]="projectVm!.version" />
                </div>
            </div>
            
            <div class="flex flex-column gap-2 mt-2">
                <label for="repositoryName">Repository</label>
                <input readonly="true" pInputText id="repositoryName" [(ngModel)]="projectVm!.repositoryName" />
            </div>
        </div>
    </p-panel>
</div>