<div *ngIf="dependencyInstance$ | async as dependencyInstance">
    <p-panel header="{{ dependencyInstance.name }} ({{ dependencyInstance.version }})">

        <div class="flex align-items-start gap-1" >
            <p-checkbox [(ngModel)]="specificVersionOnly" [binary]="true" 
                label="Version {{ dependencyInstance.version }} only"
                (ngModelChange)="specificVersionOnlyChanged($event)" />
        </div>

        <p-divider type="solid">
            <b>Contained In</b>
            </p-divider>
        
            <p-tree [value]="treeNodes" [filter]="true" filterPlaceholder="Filter" class="w-full md:w-30rem" 
                selectionMode="single" [(selection)]="selectedTreeNode" (selectionChange)="treeNodeSelectionChanged($event)" />
    
        <p-divider type="solid">
        <b>{{getSelectedTreeNodeDetailsLabel()}}</b>
        </p-divider>
    
        <div *ngIf="selectedTreeNodeIsRepository()">
            Repository Details
        </div>
        <div *ngIf="selectedTreeNodeIsProject()">
            Project Details
        </div>
    </p-panel>
</div>