/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@include mat.core();


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.full-width {
  width: 100%;
}

.filter-criteria-card {
  min-width: 120px;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col2 {
  flex: 2;
  margin-right: 20px;
}

.col4 {
  flex: 4;
  margin-right: 20px;
}

.col6 {
  flex: 6;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.col2:last-child {
  margin-right: 0;
}

.col4:last-child {
  margin-right: 0;
}

.col6:last-child {
  margin-right: 0;
}

@media only screen and (max-width: 1025px) {
  .row {
    flex-direction: column;
  }

  .col {
    margin-right: 0;
  }

  .col2 {
    margin-right: 0;
  }
}

.half-height {
  height: 55vh;
}

.basicontainer {
  height: 100%;
  overflow: auto
}

textarea {
  width: 100%;
  resize: vertical;
}

mat-slide-toggle {
  margin-bottom: 12px;
}

.mat-fixed-button {
  width: 150px
}

mat-icon {
  margin-right: 0px !important;
  vertical-align: middle;
  font-size: 8pt
}

.mat-tab-label-content {
  color: black;
  opacity: .92;
}
